header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 50px;
  padding: 0 2.5%;
  z-index: 5;

  & .title-link {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 1.75rem;
    height: 50px;
    width: 300px;
    z-index: 6;
    text-decoration: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: $dark;
    z-index: 5;

    margin-left: -170px;
    & .navbar__content {
      display: flex;
      align-items: center;
      height: 50px;
      margin: 0 auto;
      & li {
        align-items: center;
        display: flex;
        height: 50px;
      }
      & a {
        align-items: center;
        color: $white;
        display: flex;
        font-size: 1.45rem;
        height: 50px;
        padding: 0px 20px;
        text-decoration: none;
      }
      & a:hover {
        color: lighten($darkblue, 50%);
      }

      & .active,
      .active:hover {
        color: $lightblue;
      }
    }
    & .navbar__dropdown {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50px;
      width: 132px;
      & a {
        font-size: 1.45rem;
        height: 50px;
      }
      & .navbar__dropdown__items {
        align-items: center;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 45px;
        background-color: $dark;
        z-index: 2;
        & li {
          align-items: center;
          display: flex;
          height: 50px;
          & a {
            margin: 0;
            padding: 5px 15px;
            width: 100%;
          }
        }
      }
    }
    & .navbar__dropdown:hover .navbar__dropdown__items {
      display: flex;
      flex-direction: column;
    }
    & .navbar__burger {
      display: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  header {
    & .title-link {
      font-size: 1.6rem;
    }
    & .navbar {
      & .navbar__content li a {
        font-size: 1.35rem;
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    & .title-link {
      font-size: 1.5rem;
      width: 380px;
      margin-left: -5px;
      z-index: 6;
    }
    & .navbar {
      margin-left: -128px;
      & .navbar__content {
        margin: 0;
        & li a {
          font-size: 1.2rem;
          padding: 0 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    & .title-link {
      width: 280px;
      font-size: 1.5rem;
    }
    & .navbar {
      margin-left: 0px;
      margin-right: 5vw;
      width: 0;
      justify-content: flex-end;

      & .navbar__content {
        display: none;
        position: fixed;
        right: 0;
        bottom: 0px;
        height: 0;
        width: 0;
        padding: 0 1rem;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        background-color: $dark;
        & li{
          padding: 8px 0;
        }
        & li a {
          font-size: 6vw;
        }
      }
      & .navbar__burger {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 2px;
        right: 1rem;
        padding: 0;
        border: 0;
        background: transparent;
      }
      & .navbar__burger:hover {
        cursor: pointer;
      }
      & .navbar-bar,
      .navbar-bar::before,
      .navbar-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: white;
      }
      & .navbar-bar::before,
      .navbar-bar::after {
        content: "";
        position: absolute;
        left: 0;
      }
      & .navbar-bar::before{
        transform: translateY(-12px);
      }
      & .navbar-bar::after {
        transform: translateY(12px);

      }
    }
    & .showmenu {
      & .navbar__content {
        display: flex;
        position: fixed;
        right: 0;
        bottom: 0px;
        height: 100vh;
        width: 100vw;
        padding: 0 1rem;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        background-color: $dark;
        & li a {
          font-size: 6vw;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  header {
    & .title-link {
      font-size: 5vw;
    }
    & .navbar {
      margin-left: 0px;
      margin-right: 5vw;
      justify-content: flex-end;


      & .navbar__content {
        position: fixed;
        right: 0;
        bottom: 0px;
        height: 100vh;
        width: 100vw;
        padding: 0 1rem;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        background-color: $dark;
        & li a {
          font-size: 6vw;
          padding: 5px 10px;
        }
      }
      & .navbar__burger {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 2px;
        right: 1rem;
        padding: 0;
        border: 0;
      }
      & .navbar__burger:hover {
        cursor: pointer;
      }
      & .navbar-bar,
      .navbar-bar::before,
      .navbar-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: white;
      }
      & .navbar-bar::before,
      .navbar-bar::after {
        content: "";
        position: absolute;
        left: 0;
      }
      & .navbar-bar::before{
        transform: translateY(-12px);
      }
      & .navbar-bar::after {
        transform: translateY(12px);

      }
    }
  }
}
