.champion__page__presentation {
  &__background {
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: 0 -25px;
    opacity: 0.7;
    z-index: 1;
  }
  &__text {
    font-size: 1.15rem;
    font-weight: 00;
    line-height: 1.75rem;
    margin: 10px 0 20px 0;
    text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8),
      0px 4px 7px rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
  &__description {
    color: $white;
    display: flex;
    flex-direction: column;
    margin-top: -752px;
    padding-left: 7rem;
    width: 45%;
    height: 750px;
    &__name {
      font-size: 3.75rem;
      margin: 100px 0 20px 0;
      text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8),
        -3px 0px 7px rgba(0, 0, 0, 0.8), 0px 4px 7px rgba(0, 0, 0, 0.8);
      z-index: 2;
    }
    &__class {
      align-items: center;
      display: flex;
      z-index: 2;
      &__icon {
        width: 48px;
        height: 48px;
        object-fit: cover;
        opacity: 1;
      }
      &__icon__role {
        font-size: 1.25rem;
        margin: 0px;
      }
    }
  }
  &__health {
    font-size: 1.25rem;
  }
  &__difficulty {
    align-items: center;
    display: flex;
    svg:first-child {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .champion__page__presentation {
    &__text {
      font-size: 1.15rem;
      line-height: 1.5rem;
      margin: 10px 0 15px 0;
    }
    &__description {
      margin-top: -780px;
      padding-left: 4rem;
      width: 60%;
      &__name {
        font-size: 3rem;
        margin: 80px 0 20px 0;
      }
      &__lore {
        font-size: 1rem;
      }
      &__class {
        margin-bottom: 10px;
        &__icon__role {
          font-size: 1.25rem;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .champion__page__presentation {
    &__text {
      font-size: 1.15rem;
      line-height: 1.5rem;
      margin: 10px 0 10px 0;
    }
    &__description {
      margin-top: -780px;
      padding-left: 3rem;
      width: 75%;
      &__name {
        font-size: 2.75rem;
        margin: 70px 0 20px 0;
      }
      &__lore {
        font-size: 1.05rem;
      }
      &__class {
        margin: 10px 0;
        &__icon__role {
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .champion__page__presentation {
    &__text {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 10px 0 10px 0;
    }
    &__description {
      align-items: center;
      margin-top: -780px;
      padding: 0;
      width: 100%;
      &__name {
        font-size: 2.5rem;
        margin: 50px 0 10px 0;
      }
      &__lore {
        font-size: 1rem;
        width: 90%;
      }
      &__class {
        margin: 10px 0;
        &__icon__role {
          font-size: 1.3rem;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .champion__page__presentation {
    &__background {
      display: none;
    }
    &__text {
      font-size: 1rem;
      line-height: 1.25rem;
      margin: 10px 0 10px 0;
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.8),
        -1px 0px 3px rgba(0, 0, 0, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.8);
    }
    &__description {
      align-items: center;
      margin-top: -30px;
      padding: 0;
      width: 100%;
      &__name {
        font-size: 2rem;
        text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.8),
          -2px 0px 4px rgba(0, 0, 0, 0.8), 0px 2px 3px rgba(0, 0, 0, 0.8);
        margin: 50px 0 10px 0;
      }
      &__lore {
        font-size: 0.85rem;
        width: 85%;
      }
      &__class {
        margin: 10px 0;
        &__icon {
          width: 40px;
          height: 40px;
          &__role {
            font-size: 1.1rem;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .champion__page__presentation {
    &__background {
      display: none;
    }
    &__text {
      font-size: 0.95rem;
      line-height: 1.2rem;
      margin: 10px 0 10px 0;
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.8),
        -1px 0px 3px rgba(0, 0, 0, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.8);
    }
    &__description {
      align-items: center;
      margin-top: -40px;
      padding: 0;
      width: 100%;
      &__name {
        font-size: 1.85rem;
        text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.8),
          -2px 0px 4px rgba(0, 0, 0, 0.8), 0px 2px 3px rgba(0, 0, 0, 0.8);
        margin: 50px 0 10px 0;
      }
      &__lore {
        font-size: 0.75rem;
        width: 90%;
      }
      &__class {
        margin: 10px 0;
        &__icon {
          width: 32px;
          height: 32px;
          &__role {
            font-size: 1rem;
            margin: 0;
          }
        }
      }
    }
  }
}
