.tracker__actual__season {
    margin: 0 30px 20px 0;
    border: 2px solid $blue;
    box-shadow: $blue 0px 1px 6px, $blue 0px 1px 4px;
    border-radius: 5px;
    text-align: center;
    width: calc(25% - 30px);
    height: max-content;
    & > h3 {
      border-bottom: 2px solid $lightblue;
      margin: 10px 0;
      padding-bottom: 10px;
      font-size: 1.4rem;
      text-align: center;
    }
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 20px;
    }
    & p {
      font-size: 1.15rem;
    }
    &__rank {
      align-items: center;
      & > p {
        font-size: 1.3rem;
        margin-top: 5px;
      }
      & > img {
        width: 96px;
      }
    }

    &__points{
      margin: 0 0 10px 0;
    }

    &__percentage{
      position: relative;
      top: -15px;
      margin-bottom: 0px;
      & .radialchart h3 {
        font-size: 1.25rem;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .tracker__actual__season  {
      width: 400px;
      margin: 0 0 20px 0;
    }
  }

  @media screen and (max-width: 425px) {
    .tracker__actual__season  {
      width: 95%;
      margin: 0 0 20px 0;
    }
  }