.tracker__main__info__kda{
    flex-direction: column;
    text-align: center;
    &__ratio p {
      font-size: 1.15rem;
      margin: 10px 0 5px 0;
      & span{
        color: $lightgreen;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    &__stats{
      & p span {
        font-size: 1.2rem;
      }
      &__kill{
        color: $lightgreen;
      }
      &__death{
        color: $red;
      }
    }
  }