.tracker__modal {
  background-color: $dark;
  border: 1px solid #fff;
  border-radius: 5px;
  color: white;
  position: absolute;

  top: 15vh;
  left: 10vw;

  width: 80vw;
  height: 80vh;
  padding: 5px 15px;

  &__header {
    border-bottom: 1px solid #fff ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    & > p {
        font-size: 1.3rem;
        font-weight: 0;
    }
    & > span {
        font-size: 1.5rem;
        cursor: pointer;
    }
  }
  &__presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 5px 0px;
    font-size: 1.3rem;
    &__score {
      font-size: 2rem;
    }
  }
  &__table {
    color: white;
    max-height: calc(80vh - 90px);
    &__champion{
        & > div {
            display: flex;
            align-items: center;
            & > img{
                height: 64px;
        }
        }
    }
    &__platformImg{
        height: 48px;
    }

    &__name{
        & > div {
            display: flex;
            align-items: center;
        }
        &__rankImg{
            width: 64px;
            position: relative;
            top: 4px;
        }
        &__info{
            &__player{
                font-weight: 400;
                font-size: 1.25rem;
            }
            &__level{
                font-size: 0.85rem;
            }
        }
    }
    &__kda{
        & > span {
            font-weight: 600;
        }
        &__kills{
            color: #2cb42c;
        }
        &__deaths{
            color: #ee4134;
        }
    }
  }
}
