.tracker__info__main {
  border: 2px solid $blue;
  box-shadow: $blue 0px 1px 6px, $blue 0px 1px 4px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 20px 5% 0 5%;
  height: 180px;
  & > div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  & h3{
    font-size: 1.3rem;
  }

  &__avatar > img {
    width: 160px;
    height: 160px;
  }
  &__account {
    margin-left: 15px;
    & > h2 {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    & > h2 span {
      font-size: 1rem;
      font-weight: 100;
    }
    & > p {
      line-height: 20px;
    }
  }

  &__kda{
    flex-direction: column;
    text-align: center;
    &__ratio p {
      font-size: 1.15rem;
      margin: 10px 0 5px 0;
      & span{
        color: $lightgreen;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    &__stats{
      & p span {
        font-size: 1.2rem;
      }
      &__kill{
        color: $lightgreen;
      }
      &__death{
        color: $red;
      }
    }
  }

  &__winlose__ratio {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    & .radialchart h3 {
      position: relative;
      text-align: center;
      top: -5px;
      font-size: 1.3rem;
    }
  }

  &__rank {
    flex-direction: column;
    align-items: center;
    & > p {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    & > img {
      width: 112px;
    }
  }
}
