.tracker {
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    &__search__input {
        width: 200px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        position: relative;
        border: none;
        outline: none;
      }
    
      &__search__icon {
        color: black;
        position: relative;
        left: -30px;
        top: 7px;
      }
  }
  &__dataTableFilter {
    margin-bottom: 20px;
    & button {
      background: $lightblue;
      border-color: $lightblue;
      border-radius: 5px;
      border-width: 1px;
      box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 10px 0 0;
      padding: 10px 14px;
    }
    & button:hover {
      outline: none;
    }
    & .activeDataTable {
      background-color: darken($blue, 5%);
    }
  }


  &__info{
    display: flex;
    flex-direction: row;
    margin: 20px 4% 0 4%;
    & > div {
      width: 100%;
    }
  }
  
}

@media screen and (max-width: 900px) {
  .tracker__info {
    flex-direction: column;
    align-items: center;
  }
}
