/* Utils */
/* Base */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ul,
li,
form,
label,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
aside,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  font-family: "Poppins", sans-serif;
}

/* Layout */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 50px;
  padding: 0 2.5%;
  z-index: 5;
}
header .title-link {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1.75rem;
  height: 50px;
  width: 300px;
  z-index: 6;
  text-decoration: none;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #23252c;
  z-index: 5;
  margin-left: -170px;
}
header .navbar .navbar__content {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 auto;
}
header .navbar .navbar__content li {
  align-items: center;
  display: flex;
  height: 50px;
}
header .navbar .navbar__content a {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1.45rem;
  height: 50px;
  padding: 0px 20px;
  text-decoration: none;
}
header .navbar .navbar__content a:hover {
  color: #83c1ff;
}
header .navbar .navbar__content .active,
header .navbar .navbar__content .active:hover {
  color: #02abff;
}
header .navbar .navbar__dropdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 132px;
}
header .navbar .navbar__dropdown a {
  font-size: 1.45rem;
  height: 50px;
}
header .navbar .navbar__dropdown .navbar__dropdown__items {
  align-items: center;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  background-color: #23252c;
  z-index: 2;
}
header .navbar .navbar__dropdown .navbar__dropdown__items li {
  align-items: center;
  display: flex;
  height: 50px;
}
header .navbar .navbar__dropdown .navbar__dropdown__items li a {
  margin: 0;
  padding: 5px 15px;
  width: 100%;
}
header .navbar .navbar__dropdown:hover .navbar__dropdown__items {
  display: flex;
  flex-direction: column;
}
header .navbar .navbar__burger {
  display: none;
}

@media screen and (max-width: 1440px) {
  header .title-link {
    font-size: 1.6rem;
  }
  header .navbar .navbar__content li a {
    font-size: 1.35rem;
    padding: 0 15px;
  }
}
@media screen and (max-width: 1024px) {
  header .title-link {
    font-size: 1.5rem;
    width: 380px;
    margin-left: -5px;
    z-index: 6;
  }
  header .navbar {
    margin-left: -128px;
  }
  header .navbar .navbar__content {
    margin: 0;
  }
  header .navbar .navbar__content li a {
    font-size: 1.2rem;
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  header .title-link {
    width: 280px;
    font-size: 1.5rem;
  }
  header .navbar {
    margin-left: 0px;
    margin-right: 5vw;
    width: 0;
    justify-content: flex-end;
  }
  header .navbar .navbar__content {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0px;
    height: 0;
    width: 0;
    padding: 0 1rem;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #23252c;
  }
  header .navbar .navbar__content li {
    padding: 8px 0;
  }
  header .navbar .navbar__content li a {
    font-size: 6vw;
  }
  header .navbar .navbar__burger {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    right: 1rem;
    padding: 0;
    border: 0;
    background: transparent;
  }
  header .navbar .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar .navbar-bar,
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: white;
  }
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  header .navbar .navbar-bar::before {
    transform: translateY(-12px);
  }
  header .navbar .navbar-bar::after {
    transform: translateY(12px);
  }
  header .showmenu .navbar__content {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0 1rem;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #23252c;
  }
  header .showmenu .navbar__content li a {
    font-size: 6vw;
  }
}
@media screen and (max-width: 425px) {
  header .title-link {
    font-size: 5vw;
  }
  header .navbar {
    margin-left: 0px;
    margin-right: 5vw;
    justify-content: flex-end;
  }
  header .navbar .navbar__content {
    position: fixed;
    right: 0;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0 1rem;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #23252c;
  }
  header .navbar .navbar__content li a {
    font-size: 6vw;
    padding: 5px 10px;
  }
  header .navbar .navbar__burger {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    right: 1rem;
    padding: 0;
    border: 0;
  }
  header .navbar .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar .navbar-bar,
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: white;
  }
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  header .navbar .navbar-bar::before {
    transform: translateY(-12px);
  }
  header .navbar .navbar-bar::after {
    transform: translateY(12px);
  }
}
.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.loader__ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #7c0000;
  }
  15% {
    transform: rotate(50deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  30% {
    transform: rotate(100deg);
    box-shadow: 1px 5px 2px #fff600;
  }
  45% {
    transform: rotate(150deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  60% {
    transform: rotate(200deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
  85% {
    transform: rotate(280deg);
    box-shadow: 1px 5px 2px #83b201;
  }
  90% {
    transform: rotate(320deg);
    box-shadow: 1px 5px 2px #b25601;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #7c0000;
  }
}
.loader__ring::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.loader__text {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out linear infinite;
}

/* Pages */
.allchampion__page {
  margin-top: 10px;
}
.allchampion__page__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.allchampion__page__filter__search__container {
  display: flex;
  align-items: center;
}
.allchampion__page__filter__search__input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  border: none;
  outline: none;
}
.allchampion__page__filter__search__icon {
  color: black;
  position: relative;
  left: -30px;
}
.allchampion__page__filter__class__container button {
  background: #02abff;
  border-color: #02abff;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px 3px 0 3px;
  padding: 10px 14px;
}
.allchampion__page__filter__class__container button:hover {
  outline: none;
}
.allchampion__page__filter__class__container .activeFilter {
  background-color: #0079b5;
}

@media screen and (max-width: 425px) {
  .allchampion__page__filter__class__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10vw;
  }
  .allchampion__page button {
    background: #02abff;
    border-color: #02abff;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 3px 0 3px;
    padding: 10px 14px;
  }
}
.champion__page__skills__title {
  color: white;
  font-size: 3.75rem;
  margin: 20px 0 0px 0;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .champion__page__skills__title {
    font-size: 3.25rem;
  }
}
@media screen and (max-width: 1024px) {
  .champion__page__skills__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .champion__page__skills__title {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 600px) {
  .champion__page__skills__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 425px) {
  .champion__page__skills__title {
    margin-top: 20px;
    font-size: 2rem;
  }
}
.tracker__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tracker__form__search__input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  border: none;
  outline: none;
}
.tracker__form__search__icon {
  color: black;
  position: relative;
  left: -30px;
  top: 7px;
}
.tracker__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 5% 0 5%;
}
.tracker__info__match {
  width: 80%;
  border: 1px solid #008ace;
  box-shadow: #008ace 0px 1px 6px, #008ace 0px 1px 4px;
  border-radius: 5px;
}

/* Components */
.under_construction {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.under_construction img {
  width: 80vw;
}

.champion__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2% 5%;
}
.champion__grid__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 160px;
  transition-duration: 300ms;
  margin: 15px;
  z-index: 1;
}
.champion__grid__card__championimage {
  height: 100%;
}
.champion__grid__card a {
  text-decoration: none;
  height: 100%;
}
.champion__grid__card div {
  align-items: center;
  background-color: rgba(0, 65, 131, 0.8);
  display: flex;
  flex-direction: row;
  position: relative;
  top: -42px;
  height: 40px;
}
.champion__grid__card div p {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  text-decoration: none;
  text-align: center;
  width: 120px;
  margin-left: 30px;
}
.champion__grid__card__classicon {
  width: 32px;
  margin: 0 5px;
}
.champion__grid__card:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}

.card__nofiltered {
  opacity: 0.4;
}

.champion__page__skills {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.champion__page__skills__button {
  background-color: transparent;
  border: none;
  margin: 10px 30px;
}
.champion__page__cards__legendary {
  color: white;
  display: flex;
  margin: 40px auto 50px auto;
  width: 90%;
}
.champion__page__cards__legendary div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.champion__page__cards__legendary img {
  width: 128px;
}
.champion__page__cards__legendary h3 {
  font-size: 1.5rem;
  margin: 10px 0 20px 0;
}
.champion__page__cards__legendary p {
  text-align: center;
  width: 80%;
}
.champion__page__cards__common__table__container {
  width: 90%;
  margin: 0 5%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.champion__page__cards__common__table__container thead th {
  align-self: center;
  border: 1px solid white;
  padding: 10px 20px;
}
.champion__page__cards__common__table__container tbody td {
  text-align: center;
  border: 1px solid white;
  font-size: 1.05rem;
}
.champion__page__cards__common__table__container tbody img {
  width: 80px;
}
.champion__page__cards__common__table__container__name {
  font-weight: 500;
  color: #02abff;
}
.champion__page__cards__common__table__container__cooldown span {
  position: relative;
  top: -7px;
}
.champion__page__cards__common__table__container__cooldown svg {
  font-size: 2rem;
}

@media screen and (max-width: 1440px) {
  .champion__page__skills__button {
    margin: 10px 25px;
  }
}
@media screen and (max-width: 1024px) {
  .champion__page__skills__button {
    margin: 10px 15px;
  }
  .champion__page__cards__legendary {
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px auto;
    width: 90%;
  }
  .champion__page__cards__legendary div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .champion__page__cards__legendary img {
    max-width: 128px;
    margin-bottom: 10px;
  }
  .champion__page__cards__legendary h3 {
    font-size: 1.75rem;
    margin: 0 0 10px 30px;
  }
  .champion__page__cards__legendary p {
    font-size: 1rem;
    text-align: left;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .champion__page__skills__button {
    margin: 10px 10px;
  }
  .champion__page__cards__legendary {
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px auto;
    width: 90%;
  }
  .champion__page__cards__legendary div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .champion__page__cards__legendary img {
    max-width: 96px;
    margin-bottom: 10px;
  }
  .champion__page__cards__legendary h3 {
    font-size: 1.75rem;
    margin: 0 0 10px 30px;
  }
  .champion__page__cards__legendary p {
    text-align: left;
    width: 100%;
  }
  .champion__page__cards__common__table {
    width: 100%;
    overflow-x: auto;
  }
  .champion__page__cards__common__table__container {
    border-collapse: collapse;
  }
  .champion__page__cards__common__table__container thead th {
    padding: 10px 10px;
  }
  .champion__page__cards__common__table__container tbody td {
    font-size: 1rem;
  }
  .champion__page__cards__common__table__container tbody img {
    width: 64px;
  }
}
@media screen and (max-width: 600px) {
  .champion__page__skills__button {
    margin: 10px 8px;
  }
  .champion__page__cards__legendary {
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px auto;
    width: 90%;
  }
  .champion__page__cards__legendary div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .champion__page__cards__legendary img {
    max-width: 80px;
    margin-bottom: 10px;
  }
  .champion__page__cards__legendary h3 {
    font-size: 1.5rem;
    margin: 0 0 10px 10px;
  }
  .champion__page__cards__legendary p {
    text-align: left;
    width: 100%;
  }
  .champion__page__cards__common__table__container {
    width: 95%;
    margin: 0 2.5%;
    overflow-x: auto;
  }
  .champion__page__cards__common__table__container thead th {
    padding: 10px 0px;
  }
  .champion__page__cards__common__table__container tbody td {
    font-size: 1rem;
  }
  .champion__page__cards__common__table__container tbody img {
    width: 64px;
  }
}
@media screen and (max-width: 425px) {
  .champion__page__skills__button {
    margin: 10px 0px;
  }
  .champion__page__cards__legendary {
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px auto;
    width: 90%;
  }
  .champion__page__cards__legendary div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .champion__page__cards__legendary img {
    max-width: 64px;
    margin-bottom: 10px;
  }
  .champion__page__cards__legendary h3 {
    font-size: 1.25rem;
    margin: 0 0 10px 10px;
  }
  .champion__page__cards__legendary p {
    text-align: left;
    width: 100%;
  }
}
.champion__page__skills__button__container {
  cursor: pointer;
  display: block;
}
.champion__page__skills__button__container__image {
  width: 128px;
  border-radius: 5px;
}
.champion__page__skills__button__container__text {
  background-color: #8e8e8e;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 5px 10px;
}

.light_skills .champion__page__skills__button__container__text {
  background-color: #008ace;
}

@media screen and (max-width: 1440px) {
  .champion__page__skills__button__container {
    display: block;
  }
  .champion__page__skills__button__container__image {
    width: 96px;
  }
  .champion__page__skills__button__container__text {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 20px auto 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .champion__page__skills__button__container {
    display: block;
  }
  .champion__page__skills__button__container__image {
    width: 80px;
  }
  .champion__page__skills__button__container__text {
    font-size: 1rem;
    padding: 2px 10px;
    margin: 20px auto 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .champion__page__skills__button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 125px;
  }
  .champion__page__skills__button__container__image {
    width: 64px;
  }
  .champion__page__skills__button__container__text {
    font-size: 1rem;
    padding: 2px 8px;
    max-width: 64px;
    margin: 20px auto 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .champion__page__skills__button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 92px;
  }
  .champion__page__skills__button__container__image {
    width: 48px;
  }
  .champion__page__skills__button__container__text {
    font-size: 0.75rem;
    padding: 2px 8px;
    max-width: 50px;
    margin: 15px auto 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .champion__page__skills__button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85px;
  }
  .champion__page__skills__button__container__image {
    width: 40px;
  }
  .champion__page__skills__button__container__text {
    font-size: 0.75rem;
    padding: 2px 8px;
    max-width: 50px;
    margin: 15px auto 0 auto;
  }
}
.champion__page__skills__container {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 40px 0 0 20%;
}
.champion__page__skills__container__description {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: center;
  padding: 0 15px;
  margin: 15px 15px 15px 0;
}
.champion__page__skills__container__description__img {
  height: 160px;
  width: 160px;
  border-radius: 5px;
}
.champion__page__skills__container__description__content {
  margin-left: 20px;
}
.champion__page__skills__container__description__content__title {
  font-size: 28px;
  margin: 15px 0;
  color: #FFFFFF;
}
.champion__page__skills__container__description__content__dmgtype {
  font-size: 22px;
  margin: 10px 0 20px 0;
  color: #008ace;
}
.champion__page__skills__container__description__content__text {
  font-size: 16px;
  margin: 10px 0;
  color: #FFFFFF;
}
.champion__page__skills__container__cooldown {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin: 30px 15px 15px 0;
}
.champion__page__skills__container__cooldown svg {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.champion__page__skills__container__cooldown p {
  font-size: 22px;
  position: relative;
  top: 7px;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 1440px) {
  .champion__page__skills__container {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 40px 2.5% 0 2.5%;
  }
  .champion__page__skills__container__description {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    padding: 0;
    margin: 15px 15px 15px 0;
  }
  .champion__page__skills__container__description__img {
    height: 160px;
    width: 160px;
    border-radius: 5px;
  }
  .champion__page__skills__container__description__content__title {
    font-size: 1.75rem;
    margin: 10px 0;
    color: #FFFFFF;
  }
  .champion__page__skills__container__description__content__dmgtype {
    font-size: 1.35rem;
    margin: 10px 0 10px 0;
    color: #008ace;
  }
  .champion__page__skills__container__description__content__text {
    font-size: 1rem;
    margin: 10px 0;
    color: #FFFFFF;
  }
  .champion__page__skills__container__cooldown {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 30px 15px 15px 0;
  }
  .champion__page__skills__container__cooldown svg {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  .champion__page__skills__container__cooldown p {
    font-size: 1.4rem;
    position: relative;
    top: 7px;
  }
}
@media screen and (max-width: 1024px) {
  .champion__page__skills__container {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .champion__page__skills__container__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 0 0;
  }
  .champion__page__skills__container__description__img {
    height: 96px;
    width: 96px;
  }
  .champion__page__skills__container__description__content__title {
    font-size: 1.75rem;
    margin: 10px 0;
    text-align: center;
  }
  .champion__page__skills__container__description__content__dmgtype {
    font-size: 1.25rem;
    margin: 5px 0 10px 0;
    text-align: center;
  }
  .champion__page__skills__container__description__content__text {
    font-size: 0.85rem;
    line-height: 1.25;
    margin: 5px 0;
  }
  .champion__page__skills__container__cooldown {
    display: flex;
    margin: 118px 10px 0 0;
  }
  .champion__page__skills__container__cooldown svg {
    width: 24px;
    height: 24px;
  }
  .champion__page__skills__container__cooldown p {
    font-size: 1.15rem;
    position: relative;
    top: 3px;
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (max-width: 600px) {
  .champion__page__skills__container {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .champion__page__skills__container__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 0 0;
  }
  .champion__page__skills__container__description__img {
    height: 80px;
    width: 80px;
  }
  .champion__page__skills__container__description__content__title {
    font-size: 1.75rem;
    margin: 10px 0;
    text-align: center;
  }
  .champion__page__skills__container__description__content__dmgtype {
    font-size: 1.25rem;
    margin: 5px 0 10px 0;
    text-align: center;
  }
  .champion__page__skills__container__description__content__text {
    font-size: 0.85rem;
    line-height: 1.25;
    margin: 5px 0;
  }
  .champion__page__skills__container__cooldown {
    display: flex;
    margin: 102px 10px 0 0;
  }
  .champion__page__skills__container__cooldown svg {
    width: 24px;
    height: 24px;
  }
  .champion__page__skills__container__cooldown p {
    font-size: 1.15rem;
    position: relative;
    top: 3px;
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (max-width: 425px) {
  .champion__page__skills__container {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .champion__page__skills__container__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  .champion__page__skills__container__description__img {
    height: 80px;
    width: 80px;
  }
  .champion__page__skills__container__description__content__title {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
  }
  .champion__page__skills__container__description__content__dmgtype {
    font-size: 1.25rem;
    margin: 5px 0 10px 0;
    text-align: center;
  }
  .champion__page__skills__container__description__content__text {
    font-size: 0.85rem;
    line-height: 1.25;
    margin: 5px 0;
  }
  .champion__page__skills__container__cooldown {
    display: none;
  }
}
.champion__page__presentation__background {
  width: 100%;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -25px;
     object-position: 0 -25px;
  opacity: 0.7;
  z-index: 1;
}
.champion__page__presentation__text {
  font-size: 1.15rem;
  font-weight: 0;
  line-height: 1.75rem;
  margin: 10px 0 20px 0;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8), 0px 4px 7px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.champion__page__presentation__description {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: -752px;
  padding-left: 7rem;
  width: 45%;
  height: 750px;
}
.champion__page__presentation__description__name {
  font-size: 3.75rem;
  margin: 100px 0 20px 0;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8), 0px 4px 7px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.champion__page__presentation__description__class {
  align-items: center;
  display: flex;
  z-index: 2;
}
.champion__page__presentation__description__class__icon {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
.champion__page__presentation__description__class__icon__role {
  font-size: 1.25rem;
  margin: 0px;
}
.champion__page__presentation__health {
  font-size: 1.25rem;
}
.champion__page__presentation__difficulty {
  align-items: center;
  display: flex;
}
.champion__page__presentation__difficulty svg:first-child {
  margin-left: 10px;
}

@media screen and (max-width: 1440px) {
  .champion__page__presentation__text {
    font-size: 1.15rem;
    line-height: 1.5rem;
    margin: 10px 0 15px 0;
  }
  .champion__page__presentation__description {
    margin-top: -780px;
    padding-left: 4rem;
    width: 60%;
  }
  .champion__page__presentation__description__name {
    font-size: 3rem;
    margin: 80px 0 20px 0;
  }
  .champion__page__presentation__description__lore {
    font-size: 1rem;
  }
  .champion__page__presentation__description__class {
    margin-bottom: 10px;
  }
  .champion__page__presentation__description__class__icon__role {
    font-size: 1.25rem;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .champion__page__presentation__text {
    font-size: 1.15rem;
    line-height: 1.5rem;
    margin: 10px 0 10px 0;
  }
  .champion__page__presentation__description {
    margin-top: -780px;
    padding-left: 3rem;
    width: 75%;
  }
  .champion__page__presentation__description__name {
    font-size: 2.75rem;
    margin: 70px 0 20px 0;
  }
  .champion__page__presentation__description__lore {
    font-size: 1.05rem;
  }
  .champion__page__presentation__description__class {
    margin: 10px 0;
  }
  .champion__page__presentation__description__class__icon__role {
    font-size: 1.2rem;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .champion__page__presentation__text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 10px 0 10px 0;
  }
  .champion__page__presentation__description {
    align-items: center;
    margin-top: -780px;
    padding: 0;
    width: 100%;
  }
  .champion__page__presentation__description__name {
    font-size: 2.5rem;
    margin: 50px 0 10px 0;
  }
  .champion__page__presentation__description__lore {
    font-size: 1rem;
    width: 90%;
  }
  .champion__page__presentation__description__class {
    margin: 10px 0;
  }
  .champion__page__presentation__description__class__icon__role {
    font-size: 1.3rem;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .champion__page__presentation__background {
    display: none;
  }
  .champion__page__presentation__text {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 10px 0 10px 0;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.8), -1px 0px 3px rgba(0, 0, 0, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.8);
  }
  .champion__page__presentation__description {
    align-items: center;
    margin-top: -30px;
    padding: 0;
    width: 100%;
  }
  .champion__page__presentation__description__name {
    font-size: 2rem;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8), 0px 2px 3px rgba(0, 0, 0, 0.8);
    margin: 50px 0 10px 0;
  }
  .champion__page__presentation__description__lore {
    font-size: 0.85rem;
    width: 85%;
  }
  .champion__page__presentation__description__class {
    margin: 10px 0;
  }
  .champion__page__presentation__description__class__icon {
    width: 40px;
    height: 40px;
  }
  .champion__page__presentation__description__class__icon__role {
    font-size: 1.1rem;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .champion__page__presentation__background {
    display: none;
  }
  .champion__page__presentation__text {
    font-size: 0.95rem;
    line-height: 1.2rem;
    margin: 10px 0 10px 0;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.8), -1px 0px 3px rgba(0, 0, 0, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.8);
  }
  .champion__page__presentation__description {
    align-items: center;
    margin-top: -40px;
    padding: 0;
    width: 100%;
  }
  .champion__page__presentation__description__name {
    font-size: 1.85rem;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8), 0px 2px 3px rgba(0, 0, 0, 0.8);
    margin: 50px 0 10px 0;
  }
  .champion__page__presentation__description__lore {
    font-size: 0.75rem;
    width: 90%;
  }
  .champion__page__presentation__description__class {
    margin: 10px 0;
  }
  .champion__page__presentation__description__class__icon {
    width: 32px;
    height: 32px;
  }
  .champion__page__presentation__description__class__icon__role {
    font-size: 1rem;
    margin: 0;
  }
}
.tierlist__page__table {
  width: 90%;
  margin: 0 5%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.tierlist__page__table tbody td:first-child {
  text-align: center;
  border: 1px solid white;
  font-size: 1.05rem;
  width: 100px;
}
.tierlist__page__table__champtier {
  display: flex;
  text-align: center;
  border: 1px solid white;
  font-size: 1.05rem;
}
.tierlist__page__table__champtier div {
  padding: 5px 5px 5px 5px;
}
.tierlist__page__table__champtier__image {
  width: 80px;
  height: 80px;
}
.tierlist__page__table__champtier__name {
  font-size: 0.75vw;
}

.tierlist__page__table__tierS {
  background-color: #fe7f7e;
  color: black;
}
.tierlist__page__table__tierA {
  background-color: #ffbe7e;
  color: black;
}
.tierlist__page__table__tierB {
  background-color: #fefe7f;
  color: black;
}
.tierlist__page__table__tierC {
  background-color: #befe7f;
  color: black;
}
.tierlist__page__table__tierD {
  background-color: #7eff7e;
  color: black;
}
.tierlist__page__table__tierE {
  background-color: #7efffe;
  color: black;
}

.tracker__info__main {
  border: 2px solid #008ace;
  box-shadow: #008ace 0px 1px 6px, #008ace 0px 1px 4px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 20px 5% 0 5%;
  height: 180px;
}
.tracker__info__main > div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
.tracker__info__main h3 {
  font-size: 1.3rem;
}
.tracker__info__main__avatar > img {
  width: 160px;
  height: 160px;
}
.tracker__info__main__account {
  margin-left: 15px;
}
.tracker__info__main__account > h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.tracker__info__main__account > h2 span {
  font-size: 1rem;
  font-weight: 100;
}
.tracker__info__main__account > p {
  line-height: 20px;
}
.tracker__info__main__kda {
  flex-direction: column;
  text-align: center;
}
.tracker__info__main__kda__ratio p {
  font-size: 1.15rem;
  margin: 10px 0 5px 0;
}
.tracker__info__main__kda__ratio p span {
  color: #2cb42c;
  font-size: 1.3rem;
  font-weight: 600;
}
.tracker__info__main__kda__stats p span {
  font-size: 1.2rem;
}
.tracker__info__main__kda__stats__kill {
  color: #2cb42c;
}
.tracker__info__main__kda__stats__death {
  color: #ee4134;
}
.tracker__info__main__winlose__ratio {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
.tracker__info__main__winlose__ratio .radialchart h3 {
  position: relative;
  text-align: center;
  top: -5px;
  font-size: 1.3rem;
}
.tracker__info__main__rank {
  flex-direction: column;
  align-items: center;
}
.tracker__info__main__rank > p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.tracker__info__main__rank > img {
  width: 112px;
}

.tracker__info__secondary {
  width: calc(25% - 30px);
  margin-right: 30px;
}
.tracker__info__secondary > section {
  margin-bottom: 20px;
  border: 2px solid #008ace;
  box-shadow: #008ace 0px 1px 6px, #008ace 0px 1px 4px;
  border-radius: 5px;
  text-align: center;
}
.tracker__info__secondary > section > h3 {
  border-bottom: 2px solid #02abff;
  margin: 10px 0;
  padding-bottom: 10px;
  font-size: 1.4rem;
  text-align: center;
}
.tracker__info__secondary > section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
}
.tracker__info__secondary__actual__season p {
  font-size: 1.15rem;
}
.tracker__info__secondary__actual__season__rank {
  align-items: center;
}
.tracker__info__secondary__actual__season__rank > p {
  font-size: 1.3rem;
  margin-top: 5px;
}
.tracker__info__secondary__actual__season__rank > img {
  width: 96px;
}
.tracker__info__secondary__actual__season__points {
  margin: 0 0 10px 0;
}
.tracker__info__secondary__actual__season__percentage {
  position: relative;
  top: -15px;
  margin-bottom: 0px;
}
.tracker__info__secondary__actual__season__percentage .radialchart h3 {
  font-size: 1.25rem;
}
.tracker__info__secondary__roles > .recharts-wrapper {
  padding: 0px;
  margin: auto;
}
.tracker__info__secondary__roles .test {
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8), 0px 4px 7px rgba(0, 0, 0, 0.8);
}

.match__preview__Win {
  background-color: #249d59;
}

.match__preview__Loss {
  background-color: #b82121;
}

.tracker__info__match__preview {
  width: 100%;
  margin: 10px auto;
  border: 2px solid darkgray;
  border-radius: 4px;
}
.tracker__info__match__preview:nth-child(1) {
  margin-top: 0;
}
.tracker__info__match__preview__header {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 0 50px;
  font-weight: 500;
}
.tracker__info__match__preview__header > a {
  color: #FFFFFF;
  text-decoration: none;
}
.tracker__info__match__preview__body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
}
.tracker__info__match__preview__body__champion {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.tracker__info__match__preview__body__champion > img {
  width: 128px;
  height: 128px;
  margin-bottom: 10px;
}
.tracker__info__match__preview__body__stats {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.tracker__info__match__preview__body__ratio {
  font-size: 2em;
}
.tracker__info__match__preview__body__kda {
  font-size: 1.15em;
  margin-top: 20px;
}
.tracker__info__match__preview__body__items {
  display: flex;
  grid-template-rows: 110px;
  width: 70%;
}
.tracker__info__match__preview__body__items__img__2 {
  border-bottom: 3px solid #41efa2;
}
.tracker__info__match__preview__body__items__img__3 {
  border-bottom: 3px solid #4cabf0;
}
.tracker__info__match__preview__body__items__img__4 {
  border-bottom: 3px solid #e749e1;
}
.tracker__info__match__preview__body__items__img__5 {
  border-bottom: 3px solid #feb447;
}
.tracker__info__match__preview__body__items__title {
  margin-top: 10px;
}
.tracker__info__match__preview__body__items > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  margin: 0 15px;
}
.tracker__info__match__preview__body__items div > img {
  height: 96px;
  width: 96px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tracker__info__datatable {
  box-shadow: #008ace 0px 1px 6px, #008ace 0px 1px 4px;
  -webkit-box-shadow: #008ace 0px 1px 6px, #008ace 0px 1px 4px;
  -moz-box-shadow: #008ace 0px 1px 6px, #008ace 0px 1px 4px;
  width: 80%;
}
.tracker__info__datatable__match {
  height: 50px;
}
.tracker__info__datatable__match td {
  height: 50px;
  padding: 8px 10px;
}
.tracker__info__datatable__result {
  display: flex;
  justify-content: center;
}
.tracker__info__datatable__result p {
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 3px 6px;
}
.tracker__info__datatable__result__win {
  background-color: #007b00;
}
.tracker__info__datatable__result__losses {
  background-color: #ee4134;
}
.tracker__info__datatable__championcell {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tracker__info__datatable__championcell > div {
  margin-left: 5px;
}
.tracker__info__datatable__championcell__img {
  width: 64px;
  height: 64px;
}
.tracker__info__datatable__championcell__name {
  font-size: 1.05rem;
  font-weight: 600;
}
.tracker__info__datatable__kdacell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tracker__info__datatable__kdacell__kill {
  color: #2cb42c;
  font-weight: 600;
}
.tracker__info__datatable__kdacell__death {
  color: #ee4134;
  font-weight: 600;
}
.tracker__info__datatable__kdacell__assist {
  font-weight: 600;
}

.radialchart {
  cursor: pointer;
}
.radialchart > .recharts-pie {
  cursor: pointer;
}
.radialchart > div {
  position: relative;
  top: -5px;
}

html {
  background-color: #23252c;
  color: white;
}/*# sourceMappingURL=style.css.map */