.champion__grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% 4%;
    &__card{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 160px;
        width: 160px;
        transition-duration: 300ms;
        margin: 15px;
        z-index: 1;
        &__championimage{
            height: 100%;
        }
        & a{
            text-decoration: none;
            height: 100%;
        }
        & div{
            align-items: center;
            background-color: rgba($darkblue, 0.8);
            display: flex;
            flex-direction: row;
            position: relative;
            top: -42px;
            height: 40px;
            & p{
                color: white;
                font-size: 1.20rem;
                position: absolute;
                text-decoration: none;
                text-align: center;
                width: 120px; 
                margin-left: 30px;
            }
        }
        &__classicon{
            width: 32px;
            margin: 0 5px;
        }
    }
    &__card:hover{
        transform: scale(1.2);
        transition-duration: 300ms;
    }
}

.card__nofiltered{
    opacity: 0.4;
}